<section>
  <button mat-raised-button color="primary" *ngIf="!isAuthenticated()" (click)="login()">Войти</button>
  <button mat-raised-button *ngIf="isAuthenticated()" (click)="logout()">Выйти</button>
</section>
<section>
  <div *ngIf="user">User name: {{ user.firstName }} {{ user.lastName }}</div>
</section>
<section>
  <ul *ngIf="friends">
    <li *ngFor="let friend of friends">{{ friend.firstName }}</li>
  </ul>
</section>
<section *ngIf="!isAuthenticated()">Войдите для того, чтобы увидеть своих друзей.</section>